<legend>Unassigned Shifts</legend>
<% @shifts.each do |shift| %>
  <%= shift.to_s %>
  <%= form_tag( confirm_shift_path(shift), options = {:method => 'get',:id => 'vacant_shifts_form', :class => "form-horizontal" })do %>
    <fieldset>    
      <table cellspacing="10" class="table table-striped table-hover ">
        <tbody>
        <tr>
          <% if shift.condidates and shift.candidates.length == 0 %>
            <td>No one has chosen this shift</td>
          <% else %>
            <% shift.candidates.each do |candidate| %>
              <tbody>
              <td><%= radio_button_tag 'candidate', candidate, false %> <%= Shift.find_doctor_name(candidate) %></td>
            </tbody>
              <% end %>
          <% end %>
        </tr>
        </tbody>
      </table>

    <% if shift.candidates and shift.candidates.length > 0 %>
      <div class="form-group">
        <div class="col-lg-10">
          <%= submit_tag "Assign Shift", :class => "btn btn-primary" %>
        </div>
      </div>
      <% end %>
  </fieldset>
  <% end %>
<% end %>
