<h1>Create new Email</h1>

<%= form_tag send_mass_email_path do %>
  <%= label_tag(:subject, 'Subject') %>
  <%= text_field_tag :subject  %>
  <br>
  <%= label_tag(:body, 'Email Body') %>
  <%= text_area_tag :body %>
  <br>	
  <%= submit_tag 'Send Email' %>
<% end %>