


<div class="col-lg-12">
	<div class="well bs-component">
			<%= form_tag send_email_path, :id => 'send_email_form', :class => "form-horizontal" do %>
			<div class="col-lg-8">
			<fieldset>
				<legend>Create New Email</legend>
				<div class="form-group">
					<label class="col-lg-2 control-label">Choose a prefill</label>
					<div class="col-lg-10">
						<div class="radio">
							<label>
								<%= radio_button_tag :email_type, :urgent, false, :onclick => "fillEmailBody('urgent')"%>
								Use urgent email template
							</label>

						</div>
						<div class="radio">
							<label>
								<%= radio_button_tag :email_type, :new_pay_period, false, :onclick => "fillEmailBody('new_pay_period')"%>
								Use new pay period email template
							</label>
						</div>
						<div class="radio">
							<label>
								<%= radio_button_tag :email_type, :custom , true, :onclick => "fillEmailBody('custom')"%>
								Write custom email
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-lg-2 control-label">Subject</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="email-subject" placeholder="Subject">
					</div>
				</div>


				<div class="form-group">
					<label for="textArea" class="col-lg-2 control-label">Email Body</label>
					<div class="col-lg-10">
						<textarea class="form-control" rows="8" placeholder="Email Body" id="email-body"></textarea >
					</div>
				</div>
				</div>
				<div class='col-lg-4'>
				<div class="form-group">
					<h3>Check the doctors you want to send emails to</h3>
					<table cellspacing="10">
							<thead>
									<tr>
											<%= check_box_tag 'select_all', 1, true%>
											<%= label_tag :select_all, " Select All Doctors" %>
									</tr>
							</thead>
							<tbody>
									<tr>
											<th>Send Email</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<% @doctors.each do |doctor| %>
											<tr>
													<td><%= check_box_tag 'activated[]', doctor.id, true, class: 'activated'%></td>
													<td><%= doctor.first_name %></td>
													<td><%= doctor.last_name %></td>
													<td><%= doctor.email %></td>
											</tr>
											<% end %>
									</tbody>
							</table>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<%= submit_tag "Send Email", :class => "btn btn-primary" %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>

		<div id="new_pay_period-text" style="display:none">
				<p>*|first_name|*: a new pay period schedule is available!</p>
		<pre>
Hey *|first_name|*,

A new pay period schedule is available. Feel free to sign up now at here.
As a reminder, because this is a newly added pay period you will only be able to request certain shifts. Requesting a shift does not guarantee that you will be able to work that shift; it is only after the Calendar Administrator has approved your request for a given shift that you will be responsible for that shift. If you request is approved you will receive an email alert.

Happy scheduling!
The VAPA ER scheduling team</pre>
		</div>
		<div id="urgent-text" style="display:none">
				<p>Urgent: VA ER Shifts Need Coverage for Pay Period *|pay_period_range|*</p>
		<pre>Urgent Email template:
 Hi *|first_name|*,
			
There are still unstaffed shifts for the *|pay_period_range|* pay period.  We are dependent on your help to cover these shifts, so please check your calendars and sign up *|here|*.  
			
As a reminder, these shifts do not require approval by the scheduler, so consider them final once you have signed up.  They will be updated on the official Google Calendar schedule automatically.

Thank you for supporting our department and our Veterans!
The VAPA ER scheduling team</pre>
		</div>
		<div id="custom-text" style="display:none">
				<p></p>
		<pre></pre>
		</div>
</div>
	<script>
		$('#select_all').click(function() {
			var all_checked = $("input[id=select_all]:checked").length == 1
			$(".activated").each(function(){
				$(this).prop("checked", all_checked)
			});
		});

		$(".activated").click(function(){
			var all_checked = $("input[class=activated]:checked").length == $(".activated").length
			$('#select_all').prop("checked", all_checked)
		})

		var fillEmailBody = function (idTypeEmail) {
				$("#email-body").val($('#'+ idTypeEmail + '-text > pre').text())
				$("#email-subject").val($('#' + idTypeEmail + '-text > p').text())
				if (idTypeEmail == "custom") {
					$("#email-body").attr("disabled",false)
				}
				else {
					$("#email-body").attr("disabled",true)
				}

		}
	</script>
