<h1>Editing Admin</h1>

<%= form_for @admin do |f| %>

  <%= render :partial => 'partials/errors', :locals => {:user => User.find_by_id(@admin.id)} %>

  <div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, :required => true, :class => 'form-control', :placeholder => 'First Name' %>
  </div>

  <div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, :required => true, :class => 'form-control', :placeholder => 'Last Name' %>
  </div>

  <div class="field">
  <%= f.label :phone_1 %><br />
  <%= f.telephone_field :phone_1, :pattern => /^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/, :required => true, :class => 'form-control', :placeholder => 'Primary Phone' %>
  </div>

  <div class="field">
  <%= f.label :phone_2 %><br />
  <%= f.telephone_field :phone_2, :pattern => /^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/, :class => 'form-control', :placeholder => 'Secondary Phone' %>
  </div>

  <div class="field">
  <%= f.label :phone_3 %><br />
  <%= f.telephone_field :phone_3, :pattern => /^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/, :class => 'form-control', :placeholder => 'Other Phone' %>
  </div>

  <div class="comments_field">
    <%= f.label :comments, 'General Shift Preferences' %><br />
    <%= f.text_area :comments, :class => 'form-control', :placeholder => 'Preferred Shifts' %>
  </div>

</br>

  <div class="actions">
    <%= f.submit "Update Admin", :class => 'btn btn-primary' %>
  </div>

  <%= link_to 'Back', admins_path, :class => 'btn btn-link' %>

<% end %>
