<p id="notice"><%= notice %></p>

<h1><%= @admin.first_name %> <%= @admin.last_name %></h1>

<div>Email:  <%= @admin.email %></div>
<div>Phone 1:  <%= @admin.phone_1 %></div>
<div>Phone 2:  <%= @admin.phone_2 %></div>
<div>Phone 3:  <%= @admin.phone_3 %></div>
<div>General Shift Preferences: <%= @admin.comments %></div>
<br>

<% if current_user.is_admin? or current_user.is_a? AdminAssistant%>
  <%= link_to 'Edit', edit_admin_path(@admin) %> |
  <% end %>
<%= link_to 'Back', contact_list_path %>
