<p id="notice"><%= notice %></p>

<h1> Admin Details </h1>

<div>First Name: <%= @admin.first_name %></div>
<div>Last Name: <%= @admin.last_name %></div>

<div>Email Address: <%= @admin.email %></div>
<div>Phone 1: <%= @admin.phone_1 %></div>
<div>Phone 2:<%= @admin.phone_2 %></div>
<div>Phone 3: <%= @admin.phone_3 %></div>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
