<h1>Editing Doctor</h1>

<%= form_for @doctor do |f| %>

  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, :required => true %>
  </div>

  <div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, :required => true %>
  </div>

  <div class="field">
  <%= f.label :phone_1 %><br />
  <%= f.telephone_field :phone_1, :pattern => /^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/, :required => true %>
  </div>

  <div class="field">
  <%= f.label :phone_2 %><br />
  <%= f.telephone_field :phone_2, :pattern => /^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/ %>
  </div>

  <div class="field">
  <%= f.label :phone_3 %><br />
  <%= f.telephone_field :phone_3, :pattern => /^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/ %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>


  <%= link_to 'Back', admins_path %>

<% end %>
