<p id="notice"><%= notice %></p>
<% if @claimed_shifts.present? %>
    <div id="error_explanation">
    	<p>The following shifts have already been claimed:</p>
    	<% @claimed_shifts.each do |shift_hash| %>
    		<!-- For some reason, this comes back as JSON instead of an actual
    		     shift object, so we need to rehydrate it here so it pretty prints. -->
        	<li><%= Shift.new(shift_hash) %></li>
      	<% end %>
    </div>
<% end %>
<h2> Welcome <td><%= "#{current_user.first_name} #{current_user.last_name}" %></td></h2> 

<iframe src= <%=ENV["CALENDAR_URL"] %> style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>



<%= render "partials/shift_list" %>

