<p id="notice"><%= notice %></p>

<h1><%= @doctor.first_name %> <%= @doctor.last_name %></h1>

<div>Email:  <%= @doctor.email %></div>
<div>Phone 1:  <%= @doctor.phone_1 %></div>
<div>Phone 2:  <%= @doctor.phone_2 %></div>
<div>Phone 3:  <%= @doctor.phone_3 %></div>
<div>General Shift Preferences: <%= @doctor.comments %></div>
<br>


<% if current_user.is_admin? or current_user.is_a? AdminAssistant%>
  <%= link_to 'Edit', edit_doctor_path(@doctor) %> |
  <% end %>
<%= link_to 'Back', contact_list_path %>
