<div class="well bs-component col-lg-8">
<%= form_for @pay_period, url: { action: locals[:action] },:class=> 'form-horizontal' do |f| %>
  <% if @pay_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay_period.errors.count, "error") %> prohibited this pay_period from being saved:</h2>

      <ul>
      <% @pay_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Shift During this time period are available for sign up</h3>
    <label>
    <%= f.radio_button(:is_open, true) %>
    Yes
  </label>
    <label>
    <%= f.radio_button(:is_open, false) %>
    No
  </label>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>