<div class="well bs-component col-lg-8">
<%= form_for @pay_period, url: { action: locals[:action] },:class=> 'form-horizontal' do |f| %>
  <% if @pay_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay_period.errors.count, "error") %> prohibited this pay_period from being saved:</h2>

      <ul>
      <% @pay_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Open pay period for MoonLighters</h3>
    <label>
    <%= f.radio_button(:is_open, true) %>
    Yes
  </label>
    <label>
    <%= f.radio_button(:is_open, false) %>
    No
  </label>
  </div>
  <div class="field">
    <h3>Shifts Signup Restrictions</h3>
    <label>
    <%= f.radio_button(:phase, "1") %>
    When a doctor requests a shift during this time period, it must be approved by an administrator before it is added to the calendar.
  </label>
    <label>
    <%= f.radio_button(:phase, "2") %>
     When a doctor requests a shift during this time period, it does not need to be approved by an administrator before it is added to the calendar.
  </label>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', @pay_period %> |
<%= link_to 'Back', pay_periods_path %>
</div>