<!DOCTYPE html>
<html>
<head>
  <title>ErMoonlighterScheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="RN3uxivNsZzqt3WCrZieDk4IBDM3WRICPU-X5J-BLq4" />
</head>

<div class="bs-component">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ER Moonlighter Scheduler</a>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="inactive"><a href="<%= create_email_path %>">Send Email</a></li>
                      <li class="inactive"><a href="#">View All Doctors</a></li>
                      <li class="inactive"><a href="#">Promote Users</a><li>
                      <li>
                      <% if user_signed_in? %>
                        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                      <% else %>
                        <%= link_to('Login', new_user_session_path)  %>  
                      <% end %>
                      </li>

                    </ul>
                   
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Help</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
<body>
<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<!-- Refactor this into the menue bar partial -->
<!-- Super helpful link: https://github.com/plataformatec/devise/wiki/How-To:-Add-sign_in,-sign_out,-and-sign_up-links-to-your-layout-template -->

<!-- Also, we need to decide whether or not we should implement logout links via DELETE or GET. -->

<%= yield %>
</div>
</body>
</html>
